.container{
    height: calc(100vh);
    display: flex;
}

.left{
    flex: 3;
    height: 80%;
    display: flex;
    align-items: left;
    justify-content: left;
    position: relative;
}

.right{
    flex: 1;
    padding: 10px;
}

.imgContainer{
    width: 10%;
    height: 10%;
}

.sizes{
    display: flex;
    justify-content: space-between;
    align-content: left;
}

.size{
    cursor: pointer;
}

.price{
    color:orange;
    font-size: 24px;
}

.size:active{
    color: orange;
}