.container{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc{
    font-size: 24px;
    color: darkgray;
    width: 70%;
}

.prodWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.prodWrapper img{
    max-height: 150px;
}

@media screen and (max-width: 480px){
    .title{
        text-align: center;
    }
    .desc{
        width: 90%;
        text-align: center;
    }
    .prodWrapper{
        align-items: left;
    }
    
}